---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Layout title={entry.data.title}>
  <main class="mt-3">
  {entry.data.image && 
		<Image
			src={entry.data.image}
			alt={`Imagen de lanzamiento ${entry.data.title}`}
      style={`view-transition-name: post-${entry.slug}`}
      format="webp"
		/>
	}
  <div class="text-gray-200">
    <h1 class="mt-8 mb-4 text-4xl">{entry.data.title}</h1>
  </div>
  <div class="text-gray-200 content">
    <Content/>
  </div>
</main>
</Layout>
<style>
  main {
   margin: auto;
   padding: 1rem;
   width: 1100px;
   max-width: calc(100% - 2rem);
   color: white;
   font-size: 20px;
   line-height: 1.6;
 }

</style>

<style is:inline>
p{
  margin: 1.1em 0;
 }
</style>